
 @import url('https://fonts.googleapis.com/css2?family=Tangerine:wght@100;300;400;700&display=swap');
 @import url('https://fonts.googleapis.com/css2?family=Waterfall&display=swap');
 @import url('https://fonts.googleapis.com/css2?family=Lobster:wght@100;300;400;700&display=swap');
 
 body {
  font-family: 'Roboto', 'Roboto Condensed';
  font-size: 24px;
  /* text-shadow: 4px 4px 4px #aaa; */
	margin: 10px;
	height: calc(100% - 20px);
	width: calc(100% - 30px);
}

:root {
  --color-text: #999;
  --color-text-dimmed: #666;
  --color-text-bright: #fff;
  --color-background: black;
  --font-primary: "Roboto";
  --font-secondary: "Roboto Condensed";
  --font-size: 24px;
  --font-size-small: 0.75rem;
  --gap-body-top: 60px;
  --gap-body-right: 60px;
  --gap-body-bottom: 60px;
  --gap-body-left: 60px;
  --gap-modules: 30px;
}

.region.top .module
.region.top.center .module.content
{
  top: inherit;
  display: block;
  align-items: center;
  justify-content: center;
  text-align: center;
  /* width: 100px; */
  /* height: 100px;  */
  line-break: auto;  
}

.region.upper.third .module { 
  /* .region.upper.third {  */
    display: block;
    align-items: center;
    justify-content: center;
    /* width: 100px; */
    /* height: 100px;  */
    text-align: center;
    line-break: auto;
    overflow: visible;
}

/* module.not.hidden {}   */

/* TOP-BAR */

.clock { scale: 1; }
.clock .date { font-family: Lobster; color: white; }  /*  text-shadow: 4px 4px 4px #aaa; } */
.clock .time { font-family: Lobster; }
.weather { scale: 1.3; }
.MMM-ViewNotification { scale: 2; }
.MMM-Worldclock { scale: 2.3 }
.MMM-weatherforecast { scale: 1.3; }
.MMM-GmailFeed { scale: 1.7; } 
.MMM-GmailFeed .sender {color: white; font-weight: bold; }
.MMM-MyCommute { scale: 1.6; }
.MMM-WordOfTheDay { scale: 2; }
.MMM-JokeAPI { scale: 1.4; line-break: strict; }

/* MIDDLE */

.MMM-NOAA3 { scale: 1.4; }
.MMM-NOAA3 .rheading { background-color: #000; border: none; }
.MMM-NOAA3 .divTableHead {color: #fff; }

.MMM-Recipe { zoom: 200%; }
.MMM-wiki { zoom: 200%; }
.on-this-day { zoom: 150%;}
.MMM-OnThisDay  { zoom: 150%; }
.MMM-History { zoom: 175%; }
.MMM-GooglePhotos { width: 350px; height: 350px;  }
.MMM-MyScoreboard { zoom: 200%; }
.MMM-MyStandings { zoom: 200%; }
.MMM-SoccerLiveScore { zoom: 150%; }

/* BOTTOM */

.newsfeed { zoom: 150%; }
.MMM-NewsFeedTicker { background: none; zoom: 170%;}
.MMM-NewsFeedTicker .image { visibility: hidden; }

.MMM-Worldclock .world { width: 100px; }
.MMM-Worldclock .zone { font-size: calc(var(--font-size) - 6px); color: var(--color-text-bright);}
.MMM-Worldclock .gap { font-size: 1px; color: transparent; } 
.MMM-Worldclock .worldtime { display: flex; flex-direction: column; }

.MMM-ATM { zoom: 150%; }
.MMM-ATM .header { color: white; text-align: left; }
.MMM-ATM .category { color: white; text-align: left; }
.MMM-ATM .difficulty { color: white; text-align: left; }
.MMM-ATM .question { color: white; text-align: left; }
.MMM-ATM .answer1 { color: white;  text-align: left; }
.MMM-ATM .answer2 { color: white; text-align: left; }
.MMM-ATM .answer3 { color: white; text-align: left; }
.MMM-ATM .answer4 { color: white; text-align: left; }
.MMM-ATM .correct { color: green;  text-align: left; }

.MMM-EveryNews { zoom: 150%; }
.MMM-EveryNews .header { color: rgb(239, 243, 243); text-align: center; }
.MMM-EveryNews .source { color: rgb(232, 241, 241); text-align: center;}
.MMM-EveryNews .title { color: rgb(212, 228, 228);  text-align: center; display: none; }
.MMM-EveryNews .photo { width: 350px; height: 350 px; padding: 0px; float: center; }
.MMM-EveryNews .description {  color: rgb(213, 230, 230);  text-align: center; font-size: 18px;}

.brightb { color: #55acee; }
.currentweather .wi-sunrise { color: #ffd700; }
.currentweather .wi-sunset { color: #ffa500; }
.currentweather .wi-day-sunny { color: #ffff00; }
.currentweather .wi-night-showers { color: #55acee; }
.currentweather .wi-degrees { color: #415; }
.currentweather .wi-rain { color: #55acee; }
.currentweather .wi-showers { color: #55acee; }
.currentweather .wi-night-showers { color: #55acee; }
.currentweather .wi-night-alt-cloudy-windy { color: #aaa; }
.currentweather .wi-night-cloudy {  color: #aaa; }
.currentweather .wi-cloudy { color: #aaa; }
.currentweather .wi-day-cloudy { color: #aaa; }
.currentweather .wi-cloudy {  color: #aaa;}
.currentweather .wi-cloudy-windy { color: #aaa;}
.currentweather .wi-showers { color: #55acee; }
.currentweather .wi-thunderstorm { color: #ff00ff; }
.currentweather .wi-snow { color: #fff; }
.currentweather .wi-fog { color: #999; }
.currentweather .wi-humidity { color: #87CEFA; }

.CX2 .agenda .eventSub { display: none;}
.CX2 .daily .fullday .eventTime {	display: none; }
.CX2 .slot .event{ background: inherit; }

.CX2 .slot .slotHeader{
	background-color: inherit;
	text-transform: uppercase;
	font-size: 15px;
	font-family: "Roboto Condensed", Arial, Helvetica, sans-serif;
	font-weight: 400;
	border-bottom: 1px solid #666;
	line-height: 15px;
	padding-bottom: 5px;
	margin-bottom: 10px;
	color: #999;
}
.CX2 .today .slotHeader * { color: inherit; }
.CX2 .event.fullday { color: inherit; }
.CX2 .slot .slotFooter { display: none; }

.CX2 .event[data-calendar-name="Thomas"] { border-left: #4c00ff solid; }
.CX2 .event[data-calendar-name="Events"] { border-left: #ffee00 solid; }
.CX2 .event[data-calendar-name="EPL"] { border-left: #00ff22 solid; }
.CX2 .event[data-calendar-name="Humber"] { border-left: #c632ff solid; }
.CX2 .event[data-calendar-name="Holidays"] { border-left: #fdf8f8 solid; }

.CX3 {
  /* you CAN modify these values; but SHOULD NOT to remove */
  --celllinecolor: #333;
  --cellbgcolor: rgba(0, 0, 0, 0.2);
  --cellheaderheight: 25px;
  --cellfooterheight: 2px;
  --defaultcolor: #FFF;
  --eventheight: calc(var(--fontsize) + 4px);
  --totalheight: calc(var(--eventheight) * var(--maxeventlines));
  font-size: var(--fontsize);
  color: var(--defaultcolor);
  line-height: calc(var(--eventheight))
}